<!-- $Id: ads_small.html,v 1.1 2008/02/09 08:18:15 angelside Exp $ //-->
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>Advertisement</h3>
			<div align="center">
<!-- PHP -->
if ($_SERVER['HTTPS'] != "on") { 
echo '<script type="text/javascript"><!--
google_ad_client = "pub-1305083582457756";
/* 120x240, gemaakt 20-5-10 */
google_ad_slot = "3419725316";
google_ad_width = 120;
google_ad_height = 240;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>';
}
<!-- ENDPHP -->
			</div>
			<br />
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />
